form.form-inline(class='comment')
    .form
        .main
            input(type='text', id='content', name='content', placeholder='후기를 남겨주세요')
    .actions
        button#post-task.btn.btn-primary.btn-lg.btn-block(type='button') 저장