extends layout

block hero-unit
  .jumbotron
    .container
      h1 Happy Trip YTrip!!

block content
  .container
    .row
      .col-md-6
        .introduce
      .col-md-6
        h3 Introduce
        p 에어비앤비는 특별한 여행 경험을 가능하게 합니다.
  
