extends ../layout

block content
  .container
    .row
      .col-md-6
        .hosting_f
      .col-md-6
        h3 호스팅이 완료되었습니다.
        p 게스트들을 기다려보세요
        br
       .col-md-6
        p 다른 게시글을 보시겠습니까?
        a.btn.btn-primary.right(href='/reserve') 목록으로
  
