extends ../layout

block hero-unit
  .hosting

block content
  .container
    .row
      .col-md-6
        h3 호스트가 되어 사용자의 꿈을 실현하세요.
        p 지역에 온 사람들을 환영해주고 이들이 집처럼 편안함을 느낄 수 있도록 도와주세요.
        a.btn.btn-primary(href='/hosts') 호스팅하기
  
